.nav-container {
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: black;
  color: white;
}

.nav-container img {
  margin: 10px;
  height: 60px;
  width: 60px;
}

.nav-container button {
  margin: 10px;
  height: 60px;
  width: 60px;
}